* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, rgb(95, 131, 145), rgb(84, 138, 159), rgb(88, 131, 148));
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.continer {
    background-color: aliceblue;
    min-width: 400px;
    min-height: 400px;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 2px 2px 100px white, 2px 2px 100px white inset;
}

.continer h1 {
    text-align: center;
    background: linear-gradient(to right, blue, orange, skyblue);
    background-clip: text;
    padding: 15px;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: relative;
}

.continer h1:after {
    content: '';
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 20px;
    background-color: red;
    width: 88%;
    height: 2px
}

.continer .password {
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.continer .pass_continer {
    text-align: center;
    background-color: rgb(230, 236, 240);
    min-width: 300px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

.continer .pass_continer #text {
    background: transparent;
    padding: 8px;
    color: brown;
    font-size: 1rem;
    width: 100%;
    border: none;
}

.continer .pass_continer i {
    cursor: pointer;
    transition: 0.5s all;
    position: relative;
}

.continer .pass_continer i:hover{
    color: orange;
}

.continer .pass_continer #copyBtn:hover::after{
    content: 'copy';
    letter-spacing: 1px;
    color: blueviolet;
    left: -8px;
    font-size: 9px;
    font-weight: 1000;
    top: -10px;
    bottom: 0;
    right: 0;
    position: absolute;
}

.continer .pass_continer #showCopy::after{
    content: 'copyed';
    margin-top: 10px;
    letter-spacing: 1px;
    color: #8a2be2;
    left: -10px;
    font-size: 9px;
    font-weight: 1000;
    top: -5px;
    bottom: 0;
    right: 0;
    position: absolute;
}

#showCopy{
    display: none;
    padding-top: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%  ;
}

.continer .text-continer {
    background-color: rgb(230, 236, 240);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    margin-top: 20px;
    padding: 20px;
}

.continer .text_continer div {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

input[type="range"] {
    height: 5px;
}

.continer input {
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other_info {
    text-align: center;
    margin: 20px;
}

.other_info button {
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid skyblue;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 540;
}

.main label {
    font-weight: 1000;
    color: blueviolet;
}

.other_info button i {
    color: red;
    font-size: 1.1rem;
    padding-right: 5px;
}

.other_info button:hover {
    background-color: skyblue;
    color: white;
}